// 22Red Colors

// Base Colors
$grey: #c1c0c0;
$black: #000000;
$white: #ffffff;

// Primary Colors
$blue: #1745D5;
$purple: #6745DE;

// Secondary Colors
$teal: #5BC9EB;
$red: rgb(233, 36, 45);
$light_red: rgb(230, 36, 44);
